body {
    font-family: Arial, Helvetica, sans-serif;
}

.event_card{
    width:50%;
    border: 1px solid grey;
    display: table;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
}

.event_description{
    display: table-cell;
    padding: 0 5% 0 0 ;
}

.event_description ul {
    padding: 0;
}

.event_description ul li {
    border-bottom: 1px solid lightgrey;
    padding: 3px;
    list-style-type: none;

}

.event_buttons{
    display: table-cell;
}

.event_button {
    padding: 5px 10px;
    background-color: lightgray;
    width: 60%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: large;
    color: white;
    margin: 10px auto;

}

.event_accept {
    background-color: green;
}

.event_deny {
    background-color: darkred;
}
.event_spam {
    background-color: grey;
}

.deny_reason {
    display: none;
}

.deny_reason textarea {
    width: 100%;
    display: block;
}

.deny_reason input {
    display: block;
    margin: 2px auto;
}

.event_load{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
}

.old_events {
    width:49%;
    display: inline-block;
}

.old_events .event_card {
    width: 90%;
}
