html,body {
    width: 100%;
    height: 100vh;
    color: #000;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: #222;
}

header {
    display: table;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: gold;
    margin: 0;
    position: relative;
}

h1 {
    display: table-cell;
    font-size: 1.2em;
    font-weight: 900;
    vertical-align: bottom;
    border: 10px solid #222;
}

h2 {
    margin-top: 0;
}

#add_event {
    display: table-cell;
    vertical-align: middle;
    border: 10px solid #222;
    text-align: right;
    color: #EEE;
    font-size: 1.2em;
}


#gcal {
    height: calc(100vh - 80px);
    max-height: 800px;
    width: 95%;
    margin: auto;
}

#gcal iframe {
    width:100%;
    height: 100%;
    border-radius: 5px;
    border:hidden;
}

footer {
    display: table;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: gold;
    margin: 0;
}

#more_info, #imprint {
    color: gold;
    display: table-cell;
    border: 10px solid #222;
    text-decoration: none;
}

#imprint {
    text-align: right;
}

#overlay {
    position:absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#overlay_content{
    position:absolute;
    top:10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: #FFF;
    padding: 5%;
    overflow: scroll;
}

#close_overlay {
    position: absolute;
    right: 5%;
    top: 5%;
    color: gold;
    font-size: 2em;
    text-decoration: none;
}

.white {
    color: #EEE;
}


form {
    width:100%;
    position: relative;
    margin: auto;
}

label, input, textarea {
    display: block;
    width: 296px;
    margin: auto;
}

label {
    margin-top: 20px;
}

input, textarea {
    margin-top:2px;
    height: 30px;
    padding: 3px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

input[type="submit"]{
    width: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #EEE;
    padding: 5px 10px;
    vertical-align: middle;
}

textarea {
    height:auto;
}

#h-captcha {
    width: 303px;
    margin: auto;
    margin-top: 15px;
}

#cat_tabs {
    width: auto;
    margin: 10px;
}

.cat_tab {
    color: #EEE;
    width: 20%;
    border-bottom: 3px solid #EEE;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 5px;
}

.cat_tab.active {
    border-bottom: 3px solid gold;
    color: #EEE;
}

#add_errors {
    color: red;
}

.tiny {
    font-size: 0.8em;
    color: grey;
}


@media screen and (max-width: 900px) {
    form {
        width:90%;
    }
}